version: "3.7"

services:
  devbox:
    build:
      context: devbox/
      dockerfile: devbox_dockerfile
    image: devboximage
    container_name: devbox
    restart: unless-stopped
    ports:
      - "80:80"
    tty: true
    networks:
      - devops_project

  jenkins:
    build:
      context: jenkins_component/
      dockerfile: jenkins_dockerfile_ubuntuhost 
    image: jenkinsimage
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
    tty: true
    networks:
      - devops_project
    depends_on:
      - devbox

  ansible:
    build:
      context: ansible_component/
      dockerfile: ansiblehost_dockerfile
    image: ansibleimage
    container_name: ansible
    restart: unless-stopped
    #ports:
    #  - "22"
    tty: true
    networks:
      - devops_project
    depends_on:
      - jenkins

  webserver:
    build:
      context: webserver/ 
      dockerfile: webserver_dockerfile
    image: webserverimage
    container_name: webserver
    restart: unless-stopped
    ports:
      - "8081:80"
    tty: true
    networks:
      - devops_project
    depends_on:
      - ansible


  elasticsearch:
    build:
      context: elk_component/elasticsearch/
      dockerfile: elasticsearch_dockerfile
    image: elasticserachimage
    container_name: elasticsearch
    restart: unless-stopped
    ports:
      - "9200:9200"
    tty: true
    networks:
      - devops_project
    depends_on:
      - webserver

  kibana:
    build:
      context: elk_component/kibana/
      dockerfile: kibana_dockerfile
    image: kibanaimage
    container_name: kibana
    restart: unless-stopped
    ports:
      - "5601:5601"
    tty: true
    networks:
      - devops_project
    depends_on:
      - elasticsearch

  logstash:
    build:
      context: elk_component/logstash/
      dockerfile: logstash_dockerfile
    image: logstashimage
    container_name: logstash
    restart: unless-stopped
    ports:
      - "5400:5400"
    tty: true
    networks:
      - devops_project
    depends_on:
      - webserver

networks:
  devops_project:
    driver: bridge

