version: "3.7"

services:
  elasticsearch:
    build:
      context: elasticsearch/
      dockerfile: elasticsearch_dockerfile
    image: elasticimage
    container_name: elasticsearch
    restart: unless-stopped
    ports:
      - "9200:9200"
    tty: true
    networks:
      - elk_network

  kibana:
    build:
      context: kibana/
      dockerfile: kibana_dockerfile
    image: kibanaimage
    container_name: kibana
    restart: unless-stopped
    ports:
      - "5601:5601"
    tty: true
    networks:
      - elk_network
    depends_on:
      - elasticsearch

  logstash:
    build:
      context: logstash/
      dockerfile: logstash_dockerfile
    image: logstashimage
    container_name: logstash
    restart: unless-stopped
    ports:
      - "5044:5044"
    tty: true
    networks:
      - elk_network
    depends_on:
      - elasticsearch


  webserver:
    build:
      context: webserver/
      dockerfile: webserver_dockerfile
    image: webserverimage
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
    tty: true
    networks:
      - elk_network
    depends_on:
      - kibana


networks:
  elk_network:
    driver: bridge

